body {
    margin: 0;
}

.btn {
display: inline-flex;
   border-radius: 5px;
   cursor: pointer;
   background-color: green;
   color: rgb(42, 34, 122);
   padding: 20px 50px;
   margin: 0px;
   border: none;

}

.btn:hover,
.btn:focus {
    background-color: aqua;
}