.btn {
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(210, 92, 92);
  color: rgb(98, 84, 245);
  padding: 20px 50px;
  border: none;

  overflow: hidden;

  transition: background-color 300ms linear, color 300ms linear;
}

.btn::after,
.btn::before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
}

.btn::after {
  margin-left: 10px;
  background-image: url(/images/frustrated.svg);
  transition: transform 300ms linear;
}

.btn:hover::after {
  transform: translatey(-40px);
}

.btn::before {
  position: absolute;
  left: 110px;
  top: 64px;
  margin-right: 10px;
  background-image: url(/images/happy.svg);
  transition: transform 300ms linear;
}

.btn:hover::before {
  transform: translatey(-44px);
}

.btn:hover,
.btn:focus {
  background-color: rgb(113, 203, 203);
  color: tomato;
}
